<div class="mx-auto absolute top-0 left-0 right-0 bottom-0 flex flex-col justify-center items-center gap-4">
	<h1 class="text-4xl text-white font-bold mb-5">Reset Password Link</h1>
	<form action="/users/reset_password_link" method="post" class="flex flex-col justify-center items-center gap-4">
		<input class="w-96 p-2" type="email" name="email" id="email" placeholder="Email" required>
		<p class="text-white font-bold w-96 self-start">A reset password link will be sent to this email.</p>
		<button class="w-60 px-4 py-2 text-2xl text-white bg-blue-700 rounded hover:bg-blue-800" type="submit">Send Link</button>
	</form>
	<button class="w-60 px-4 py-2 text-2xl text-white bg-transparent border-2 rounded hover:bg-red-600 hover:border-red-600">
		<a href="/users/login">Cancel</a>
	</button>
</div>