<div class="min-w-min absolute top-0 left-0 right-0 bottom-0 p-4 flex flex-col justify-center items-center gap-4">
	<h1 class="text-center mb-4 font-bold text-5xl text-white">Authentication</h1>
	<div class="w-[10rem] h-[10rem] mb-4">
		<img src="/images/authentication.png" alt="Logo.">
	</div>
	<a href="/users/register">
		<button class="w-[20rem] p-2 text-2xl text-white bg-blue-700 rounded hover:bg-blue-800">Sign Up with Email</button>
	</a>
	<div class="w-[20rem] flex justify-between items-center gap-4">
	<div class="h-[1px] w-[15rem] border-[1px] border-white"></div>
	<p class="text-2xl text-white text-center">or</p>
	<div class="h-[1px] w-[15rem] border-[1px] border-white"></div>
	</div>
	<form action="" method="post">
		<button class="flex justify-center items-center gap-4 w-[20rem] p-2 text-2xl text-white bg-blue-700 rounded hover:bg-blue-800" type="submit">
			<img src="/images/google-logo.png" alt="Google logo." height="32px" width="32px">
			<p>Sign Up with Google</p>
		</button>
	</form>
	<p class="text-xl text-white font-bold mt-10">Already have an account?</p>
	<a href="/users/login">
		<button class="w-[20rem] p-2 text-2xl text-white bg-blue-700 rounded hover:bg-blue-800">Sign In</button>
	</a>
</div>